{% extends "MAESTRA.html" %}


{% block titulo %}
Homepage
{% endblock %}


{% block estilos %}
{% endblock %}


{% block contenido %}

<!-- <button id="btn_mostrar">Actualizar</button> -->

<div class="container_photo">
    <img src="/static/muestras/" >
</div>

<p>Rostro detectado:
<span id="nombre_muestra">Esperando...</span>
</p>

{% endblock %}



{% block scripts %}
<!-- <script>
    const socket = io();

    socket.on("muestra", function (data) {
        var nombre = data.nombre_muestra;
        console.log(nombre);
        document.getElementById("nombre_muestra").textContent = nombre.toUpperCase();
        document.querySelector('.container_photo img').src = `/static/muestras/${nombre}.jpg`;
    });

    // document.getElementById("btn_mostrar").addEventListener("click", function () {
    setInterval(() => {
        socket.emit("mostrar_valor");
    }, 100);
    // });

</script> -->


<script>
    const socket = io();

    let intervalo;

    function iniciarSocket() {
        // Emitir cada 3 segundos (más estable)
        intervalo = setInterval(() => {
            socket.emit("mostrar_valor");
        }, 3000);
    }

    socket.on("connect", () => {
        console.log("[✔] Conectado al servidor");
        iniciarSocket();
    });

    socket.on("disconnect", () => {
        clearInterval(intervalo);
        console.log("[✘] Desconectado del servidor");
    });

    socket.on("muestra", function (data) {
        const nombre = data.nombre_muestra;
        document.getElementById("nombre_muestra").textContent = nombre.toUpperCase();

        const img = document.querySelector('.container_photo img');
        if (nombre !== "Desconocido") {
            img.src = `/static/muestras/${encodeURIComponent(nombre)}.jpg`;
        } else {
            img.src = "/static/muestras/default.jpg";
        }
    });
</script>
{% endblock %}



