<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/common_styles/bootstrap.min.css"/>
    <link rel="stylesheet" href="/static/css/common_styles/all.min.css"/>
    <link rel="stylesheet" href="/static/css/common_styles/fontawesome.min.css"/>
    <link rel="stylesheet" href="/static/css/common_styles/fonts.css"/>
    <link rel="stylesheet" href="/static/css/common_styles/common_style.css"/>
    {% block estilos %}
    {% endblock %}
    <title>
        {% block titulo %}
        {% endblock %}| Reconocimiento
    </title>
</head>
<body class="general_body">
    
    <header>
        <a href="{{url_for('index')}}">index</a>
        <a href="{{url_for('stream')}}">stream</a>
        <a href="{{url_for('add')}}">Add</a>
    </header>

    <section class="general_element">
        {% block contenido %}
        {% endblock %}
    </section>


    <script src="/static/js/common_scripts/bootstrap.bundle.min.js"></script>
    <script src="/static/js/common_scripts/bootstrap.min.js"></script>
    <script src="/static/js/common_scripts/common_script.js"></script>
    <script src="https://cdn.socket.io/4.8.1/socket.io.min.js" integrity="sha384-mkQ3/7FUtcGyoppY6bz/PORYoGqOl7/aSUMn2ymDOJcapfS6PHqxhRTMh1RR0Q6+" crossorigin="anonymous"></script>
    
    {% block scripts %}
    {% endblock %}

</body>
</html>