:root {    
    --height-header: 20vh;
    --height-footer: 50vh;
    --height-aside: 90vh;
    --height-section: 1vh;
    --color-background: #2a2b2c;
    --color1: #006b96;
    --color2: #002a64;
    --color3: #c7309a;
    --color4: #02020e;
}


body {
    font-family: Poppins, sans-serif;
    background-color: #333333;
    color: white;
    min-height: 100vh;
}

section {
    display: flex;
    height: 100vh;
    justify-content: center;
    width: 100%;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    /* padding: 10px; */
}

img {
    height: auto;
    width: 100%;
    /* background-color: white; */
}

p {
    margin: 0;
}

.container_imgs {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.container_imgs > div {
    border: 1px solid white;
    width: 400px;
    height: auto;
    display: flex;
}

form {
    display: flex;
    flex-direction: column;
}

.container_new_photos {
    overflow-y: scroll;
    height: 250px;
    width: 100%;
}

.container_new_photos img {
    width: 100px;
}

.block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header {
    background-color: #ffffffa1;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

header a {
    color: rgb(195, 195, 195);
    text-decoration: none;
    text-transform: uppercase;
    background-color: #222222;
    padding-inline: 10px;
    padding-block: 5px;
    border-radius: 5px;
}



